<%= form_for(@rental) do |form| %>
<% if @rental.errors.any? %>
  <div id="error_explanation">
    <h2><%= @rental.errors.count %>件のエラーがあります。</h2>
    <ul>

    <% @rental.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="rental_property">
     <p><%= form.label :物件名 %></p>
     <%= form.text_field :property_name %>
  </div>
  <div class="rental_property">
     <p><%= form.label :賃料 %></p>
     <%= form.text_field :rent %>
     <span> 円</span>
  </div>
  <div class="rental_property">
     <p><%= form.label :住所 %></p>
     <%= form.text_field :adress %>
  </div>
  <div class="rental_property">
     <p><%= form.label :築年数 %></p>
     <%= form.text_field :age  %>
     <span> 年</span>
  </div>
  <div class="rental_property">
     <p><%= form.label :備考 %><p>
     <%= form.text_field :note %>
  </div>

  <%= form.submit "登録する" %>
<% end %>

<%= link_to "戻る", rentals_path %>
