<%= form_for(@rental) do |form| %>
<% if @rental.errors.any? %>
  <div id="error_explanation">
    <h2><%= @rental.errors.count %>件のエラーがあります。</h2>
    <ul>

    <% @rental.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="rental_property">
     <p><%= form.label :"物件名" %></p>
     <%= form.text_field :property_name %><br>

     <p><%= form.label :"賃料" %></p>
     <%= form.text_field :rent %>円 <br>

     <p><%= form.label :"住所" %></p>
     <%= form.text_field :adress %><br>

     <p><%= form.label :"築年数" %></p>
     <%= form.text_field :age  %>年<br>

     <p><%= form.label :"備考" %><p>
     <%= form.text_field :note %><br>
  </div>

  <div class="stations">
     <%= form.fields_for :stations  do |f| %>
       <%= render "station_fields", f: f %>
      <% end %>
      <div class="links">
        <%= link_to_add_association "駅を追加", form, :stations %>
      </div>
  </div>

  <div class="actions">
    <%= form.submit "登録する" %>
  </div>

<% end %>
